@charset "utf-8";
/* CSS Document */

@import "font-awesome.css";

body {
	height:100%;
	width:100%;
  /* Image source: http://wallbase.cc/wallpaper/718405 */
  background: white url(../img/xu0zS7g.jpg) no-repeat fixed;
  background-size: cover;
}

a {
  font-size: 14px;
  text-decoration: none;
  outline: 0;
}
img{
	width:100%;
	height:100%;
	}

.circle,
.ring {
  height: 200px;
  position:absolute;
  width: 200px;
}

.circle {
 
}

.ring {
  background-color: rgba(0,0,0,0.5);
  border-radius: 50%;
  opacity: 0;

  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  -webkit-transform: scale(0.1) rotate(-270deg);
  -moz-transform: scale(0.1) rotate(-270deg);
  -transform: scale(0.1) rotate(-270deg);

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.open .ring {
  opacity: 1;
  
  -webkit-transform: scale(1) rotate(0);
  -moz-transform: scale(1) rotate(0);
  -transform: scale(1) rotate(0);
}

.center {
  background-color: rgba(255,255,255,0.3);
  border-radius: 50%;
  border: 2px solid #ffffff;
  bottom: 0;
  color: white;
  height: 80px;
  left: 0;
  line-height: 80px;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 80px;
  
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.open .center {
  border-color: #aaaaaa;
}

.menuItem {
  border-radius: 50%;
  color: #eeeeee;
  display: block;
  height: 40px;
  line-height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  position: absolute;
  text-align: center;
  width: 40px;
}
.companylogo{
  border: 2px solid #FFF;
  display: inline-block;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  overflow: hidden;
  background-size: 100% 100%;
	
}
.companyname{
	margin-top:5px;
	max-width:100%;
	text-indent: 2em;
	text-align:center;
	padding-right:50px;
}
.name_sp{
	color:#FFF;
	font-size:16px;

	}
.weimob-support{
	text-align:center;
	}
.ewm_img{
	width:20px;
	height:20px;
	margin-right:50px;
	border: 1px solid #FFF;	
	
}
.ewm_mg{
	text-decoration: none;
	width:50%;
	float:right;
	margin-top:50px;
	height:22px;
	text-align:right;
	}
.company_zw{
	height:80%;
	width:100%;
	margin-top:10px;
	
	
}
.ewm_img_y{
	  position:absolute;
	  left:0px;top:0px;
	  bottom:0px;
      background-color:#000;
      width:100%; 
	  height:150%; /*宽度设置为100%，这样才能使隐藏背景层覆盖原页面*/
      filter:alpha(opacity=80);  /*设置透明度为60%*/
      opacity:0.8;  /*非IE浏览器下设置透明度为60%*/
      z-Index:2;
	
	}
.ewm_bj{	
position:absolute;width:200px;height:200px;top:200px;left:20%;background-color:#fff;cursor:pointer;z-Index:3;}

.footer{
overflow: visible;
position: absolute;
bottom: 10px;
text-align: center;
width: 100%;
	}