.zihei{
	font-size:16px!important;
	color:#000;
	}
.zihui{
	font-size:14px!important;
	color:#999;
	}
.mr_top{
	margin-top:20px;}
.f_right{
	float:right}
	
.ds{
	margin-top:10px;
	}
.mr_top5{
	
	margin-top:5px;}
.f_left{
	float:left;
	}