.maring-a {
    margin: auto;
}

.frame-lu {
    border: solid 1px #d63333;
    border-radius: 3px;
}

.border-radius3 {
    border-radius: 3px;
}

.border-radius5 {
    border-radius: 5px;
}

.b_s_ccc{
    border: solid 1px #ccc;
}
.img-bj {
    background-size: cover;
    background-position: 80% 80%;
    background-repeat: no-repeat;
}
.img-wh10 {
    width:10px;
    height:10px;
}

.img-wh15 {
    width:15px;
    height:15px;
}

.img-wh18 {
    width: 18px;
    height:18px;
}

.img-wh20 {
    width: 20px;
    height:20px;
}
.img-wh25 {
    width: 25px;
    height:25px;
}
.img-wh30 {
    width: 30px;
    height:30px;
}
.img-wh35 {
    width: 35px;
    height:35px;
}
.img-wh40 {
    width: 40px;
    height: 40px;
}
.img-wh45 {
    width: 45px;
    height: 45px;
}
.img-wh50 {
    width: 50px;
    height: 50px;
}
.img-wh55 {
    width: 55px;
    height: 55px;
}
.img-wh60 {
    width: 60px;
    height: 60px;
}

.img-wh70 {
    width: 70px;
    height: 70px;
}

.img-wh80 {
    width: 80px;
    height: 80px;
}

.img-wh85 {
    width: 85px;
    height: 85px;
}

.img-wh90 {
    width: 90px;
    height: 90px;
}
.img-wh100 {
    width:100px;
    height:100px;
}
.img-wh110 {
    width:110px;
    height:110px;
}
.line-left1 {
    border-left: 1px solid #ccc;
}

.line-lu {
    border: solid 1px #ccc;
}

.line-jin {
    border: solid 2px #ffdc50;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.line-left2 {
    border-left: 5px solid #ffffff;
}

.fa-rotate--45 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}
.fa-rotate-40 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg)
}
.b {
    height: 150px;
}

.border-radius50 {
    border-radius: 50%;
}

.position-r {
    position: relative;
}

.position-a {
    position: absolute;
}

.position-f {
    position: fixed;
}
/*返回顶部*/
.gotop {
    position: fixed;
    bottom:80px;
    right:15px;
    z-index: 1000;
    display: none;
}


.button_group1 {
    width: 2000px;
    display: table-cell;
}
.pt-4{
    padding-top:4px;
}
.pt-6{
    padding-top:6px;
}
.pt-7{
    padding-top:7px;
}
.pt-8{
    padding-top:8px;
}
.pt-9{
    padding-top:9px;
}
.pr-45{
    padding-right: 45px;
}

.bg-bai-5 {
    background-color: rgba(225, 225, 225, 0.4);
}
.zi-green{
    color:#45c01a
}
.size8{
    font-size:8px;
}
.display-none{
    display: none;
}

.overflow-auto{
    overflow: auto;
}

.hang30{
    height: 30px;
}

.line-height50{
    line-height: 52px;
}
.line-height40{
    line-height: 40px;
}
.line-height30{
    line-height: 30px;
}
.line-height20{
    line-height: 20px;
}
.pt-2{
    padding-top: 2px;
}
.pt-3{
    padding-top: 3px;
}
.pb-3{
    padding-bottom: 3px;
}
.eject{
    z-index: 33;
    position: fixed;
    top:0px;
    left: 0px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}
.t100{
    width: 100px;
    height: 100px;
    border: 2px solid rgba(0, 0, 0, 0.8);
}

.touxiang_15{
    display: block;
    overflow: hidden;
    border-radius:15%;
}
.touxiang_15 img{
    width: 100%;
    height: 100%;
    border-radius:15%;
    border: medium none;
}
.width-9_5{
    width: 95%;
}

.line-bottom-bai{
    border-bottom:1px solid #ffffff;
}

.pt-12{
    padding-top: 12px;
}

.line-right_bai{
    border-right:1px solid #ffffff;
}
.bottom-bai{
    background-color: #ffffff;
}
.bottom-bai:hover,.bottom-bai:focus {
    color:#45c01a;
}

.hang70{
    height:70px;
}

.hang80{
    height:80px;
}
.hang90{
    height:90px;
}
.form-contro2 {
    display: block;
    width: 100%;
    height: 150px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #888;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.pr-25{
    padding-right: 25px;
}

.pl-2{
    padding-left: 2px;
}

.pl-3{
    padding-left: 3px;
}

.line-bottom-98{
    border-bottom:solid 1px #fafafa;
}
.line-right-98{
    border-right:solid 1px #fafafa;
}
.line-left-98{
    border-left:solid 1px #fafafa;
}
.line-top-98{
    border-top:solid 1px #fafafa;
}

.line-bottom-92{
    border-bottom:solid 1px #f2f2f2;
}
.line-right-92{
    border-right:solid 1px #f2f2f2;
}
.line-left-92{
    border-left:solid 1px #f2f2f2;
}
.line-top-92{
    border-top:solid 1px #f2f2f2;
}

.bg-hui-98{
    background-color: #fafafa;
}

.bg-hui-92{
    background-color: #f2f2f2;
}
.bg-hui-tx{
    background-color: #eef1f1;
}
.bg-hui-qj{
    background-color: #ececec;
}

.btn-bai{
    background-color: #ffffff;
}
.btn-bai:hover,.btn-bai:focus{
    background-color:#fafafa;
}

.bg-green{
    background-color:#45c01a;
}
.btn-green{
    background-color:#45c01a;
}
.btn-green:hover,.btn-green:focus{
    background-color:#3da617;
}

.zi-6 {
    color: #666666
}

.zi-lan1{
    color:#11a4e1
}
.zi-lan-tq{
    color:#11a4e1
}
.zi-hei-tq{
    color:#2d2d2d
}
.zi-hui-tq{
    color:#8a8b8e
}
.zi-hui-wx{
    color:#9b9b9b
}

/*背景颜色大全*/
.bj-cheng{
    background-color: #ffa54b;
}
.bj-lan1{
    background-color: #11a4e1;
}
.bj-lan2{
    background-color: #41c8cd;
}
.bj-lan3{
    background-color: #5f9be6;
}
.bj-zi{
    background-color: #9669dc;
}
.bj-lu1{
    background-color:#70d0a1;
}
.bj-lu2{
    background-color:#a8dd99;
}
.bj-lu3{
    background-color:#9bcd46 ;
}
.bj-lu4{
    background-color:#b1e866 ;
}
.bj-hong1{
    background-color: #ff9673;
}
.bj-hong2{
    background-color: #fa82a5;
}
/*背景颜色结束*/

/*解决符号与英文字符串过长不能自动转行的问题*/

.font-widthauto
{
    word-break: break-all;
    word-wrap:break-word;
}
.fa-1dx {
    font-size: 1.5em
}
.fa-2dx {
    font-size: 2.5em
}
.fa-6x {
    font-size: 6em
}

/*外阴影*/
.shadow-wai10 {
    -webkit-box-shadow: 0 0 8px rgba( 0, 0, 0, .4);
    -moz-box-shadow: 0 0 8px rgba( 0, 0, 0, .4);
    box-shadow: 0 0 8px rgba( 0, 0, 0, .4);
}

#cd-menu-trigger2 {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 40px;
    background-color: #333;
}

.form-control2 {
    display: block;
    width: 100%;
    height:100%;
    padding: 4px 10px;
    line-height: 1.42857143;
    color: #888;
    background-color: #fff;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

/*美团轮播css代码开始*/

.flickity-enabled {
    position: relative;
}

.flickity-enabled:focus { outline: none; }

.flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
}

.flickity-prev-next-button {
    position: absolute;
    top: 50%;
    display: none;
}

.flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom:-10px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}

.flickity-rtl .flickity-page-dots { direction: rtl; }

.flickity-page-dots .dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 5px;
    background: #333;
    border-radius: 50%;
    filter: alpha(opacity=25); /* IE8 */
    opacity: 0.25;
    cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
    filter: alpha(opacity=100); /* IE8 */
    opacity: 1;
}

.hero-gallery__cell {
    width: 100%;
    color: white;
}
/*美团轮播css代码结束*/

/*bs字体库字体大小*/
.fa-08 {
    font-size:0.8em
}
.fa-05 {
    font-size:0.5em
}

/*强制换行解决不换行文字*/
.qjhh{
    word-wrap:break-word
}



/*开关*/
.bootstrap-switch {
    display: inline-block;
    direction: ltr;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid;
    border-color: #8a8e8e;
    position: relative;
    text-align: left;
    overflow: hidden;
    line-height: 8px;
    z-index: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off,
.bootstrap-switch .bootstrap-switch-label {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block !important;
    height: 100%;
    font-size: 14px;
    line-height: 25px;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
    color: #fff;
    background: #45c01a;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
    color: #fff;
    background: #8a8e8e;
}

.bootstrap-switch input[type='radio'],
.bootstrap-switch input[type='checkbox'] {
    position: absolute !important;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: -1;
}

.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label {
    padding: 2px 12.5px;
    font-size: 14px;
    line-height: 21.5px;
}

.bootstrap-switch.bootstrap-switch-animate .bootstrap-switch-container {
    -webkit-transition: margin-left 0.3s;
    transition: margin-left 0.3s;
}

.bootstrap-switch.bootstrap-switch-focused {
    border-color: #45c01a;
    outline: 0;
}

/*开关*/

/*行数限制文本超出隐藏*/
.hang-sl-4{
    overflow: hidden;text-overflow:ellipsis;display: -webkit-box;-webkit-line-clamp:4;-webkit-box-orient:vertical;
}